<div class="modal login-modal">
  <header class="login-modal-header">
    <p class="subtitle">Enter your email and password to sign in.</p>
    <div class="button button-clear" ng-click="login.closeLoginModal()"><span class="icon ion-close"></span></div>
  </header>
  <section class="login-form-wrapper">
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Email" ng-model="login.email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model="login.password">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-stable" ng-click="login.login()">Log In</button>
    </div>
  </content>
</div>
