<div class="modal login-modal">
  <header class="login-modal-header">
    <p class="subtitle" ng-if="!login.newUserSetUp">Enter your email and password to sign in.</p>
    <p class="subtitle" ng-if="login.newUserSetUp">Enter your email and password to create a new account in Modelr.</p>
    <p class="subtitle" ng-if="login.newUserSetUp">You can also sign up with Facebook by clicking <a href="" ng-click="login.facebookLogin()">here.</a></p>
    <div class="button button-clear" ng-click="login.closeLoginModal()"><span class="icon ion-close"></span></div>
  </header>
  <section class="login-form-wrapper">
    <div class="list">
      <label class="item item-input item-stacked-label" ng-if="login.newUserSetUp">
        <span class="input-label">Name</span>
        <input type="text" ng-model="login.userName">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="email" ng-model="login.email">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Password</span>
        <input type="password" ng-model="login.password">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-stable" ng-click="login.login()" ng-if="!login.newUserSetUp">Log In</button>
      <button class="button button-block button-stable" ng-click="login.signUp(login.userName)" ng-if="login.newUserSetUp">Sign Up</button>
    </div>
  </content>
</div>
