<ion-view>
  <ion-content scroll="false">
    <ion-slides options="welcome.sliderOptions" slider="welcome.data.slider">
      <ion-slide-page>
        <div class="slider-page welcome-background-one">
          <header class="login-header">
            <h1 class="welcome-title styled-text" ng-if="welcome.userData">Hello {{welcome.userName}}, <br>Welcome to Modelr!</h1>
            <h1 class="welcome-title" ng-if="!welcome.userData">Hello and welcome to Modelr!</h1>
          </header>
          <article class="content">
            <p>Modelr is a handy tool to have in your modeling workshop. <br><br>Keep track of current projects, running inventory of supplies and materials, even add resources like Youtube videos, reference images, tutorials, etc. all in one beautiful app on your favorite device.</p>
            <br><br>
            <p>Swipe right to set up a profile image, and thanks for using Modelr!</p>
          </article>
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="slider-page welcome-background-two">
          <header class="login-header">
            <h1 class="welcome-title styled-text">Set Up Your Profile</h1>
          </header>
          <article class="content">
            <p ng-if="!welcome.images.length">Would you like to upload a profile picture?</p>
            <div ng-if="welcome.profileImage">
              <p>Do you want to use this photo?</p>
              <div class="profile-avatar-large">
                <img ng-src="data:image/jpeg;base64,{{welcome.profileImage}}" width="100%" />
              </div>
            </div>
          </article>
          <footer class="slider-page-footer">
            <button class="button button-block button-stable button-spaced-vertical" ng-click="welcome.upload()">
              {{ welcome.profileImage ? 'Take Another' : 'Take A Picture'}}
            </button>
            <button class="button button-block button-stable button-spaced-vertical" ng-click="welcome.uploadFromPhotos()">
              Upload From Photos
            </button>
            <button class="button button-block button-positive" ui-sref="tabs.models">Yes, Let's Go!</button>
          </footer>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>
