// --------------------------------------
// COLOR SCHEME -------------------------

$app-background-color: #e8e8e8;
$app-primary: #2BF3B4;
$app-secondary: #195490;
$app-light-gray: #eee;
$app-medium-gray: #444;

$app-primary-darker: #28c795;
$app-link-blue: #387ef5;

$facebook-blue: #3A589B;

$text-light-grey: #989898;

// --------------------------------------
// FONT VARIABLES -------------------------

$app-base-font-size: 16px;
$app-subheader-font-size: 18px;
$app-header-font-size: 22px;
$app-large-font-size: 32px;


// --------------------------------------
// UTILITY VARIABLES -------------------------

$default-spacing: 10px;
