<ion-view view-title="My Models">
  <ion-content class="padding has-tabs">
    <div class="button-wrapper">
      <button class="button ion-plus icon button-positive" ui-sref="wizard.new"></button>
      <!-- List View -->
      <span ng-if="models.isListView">
        <button class="button button-clear button-positive view-switch-button" ng-click="models.isListView = !models.isListView">
          <div class="icon-button-icon" ng-include="'img/card-view-icon.svg'"></div>
        </button>
      </span>
      <!-- Card View -->
      <span ng-if="!models.isListView">
        <button class="button button-clear button-positive view-switch-button"  ng-click="models.isListView = !models.isListView">
          <div class="icon-button-icon" ng-include="'img/list-view-icon.svg'"></div>
        </button>
      </span>

    </div>
    <section class="view-basic" ng-if="models.userHasModels() === 0">
      <h2 class="view-subheader">Empty! So sad...</h2>
      <p class="view-content">Tap the Add New Model button to add a model!</p>
    </section>
    <section class="home-models-view">
      <!-- List View -->
      <ng-include src="'js/modules/models/templates/models-list-view.html'" ng-if="models.isListView"></ng-include>
      <!-- Card View -->
      <ng-include src="'js/modules/models/templates/models-card-view.html'" ng-if="!models.isListView"></ng-include>
    </section>
  </ion-content>
</ion-view>
