<ion-view view-title="My Models">
  <ion-content class="padding has-tabs">
    <div class="button-wrapper">
      <button class="button button-block button-positive" ui-sref="wizard.new">Add New Model</button>
    </div>
    <section class="view-basic" ng-if="models.userHasModels() === 0">
      <h2 class="view-subheader">Empty! So sad...</h2>
      <p class="view-content">Tap the Add New Model button to add a model!</p>
    </section>
    <div class="list card" ng-repeat="(modelID, model) in models.allModels">
      <div class="item">
        <!-- <img src="mcfly.jpg"> -->
        <h2><a href="" ui-sref="model({id: modelID})">{{model.title}}</a></h2>
        <p>{{model.builder}} - {{model.dateStarted | date}}</p>
      </div>
      <div class="card-image-full" style="background-image: url(data:image/jpeg;base64,{{model.modelImage}})"  ng-if="model.modelImage"></div>
      <div class="item item-body">
        <ul class="list-in-card">
          <li class="card-list-item">
            <small class="card-list-label">Scale</small>
            <p class="card-list-value">{{model.scale}}</p>
          </li>
          <li class="card-list-item">
            <small class="card-list-label">Manufacturer</small>
            <p class="card-list-value">{{model.manufacturer}}</p>
          </li>
          <li class="card-list-item">
            <small class="card-list-label">Class</small>
            <p class="card-list-value">{{model.classType}}</p>
          </li>
          <li class="card-list-item" ng-if="model.description">
            <small class="card-list-label">Description</small>
            <p class="card-list-value">{{model.description}}</p>
          </li>
        </ul>
        <!-- <p>{{model.scale}}</p>
        <p>{{model.manufacturer}}</p>
        <p>{{model.classType}}</p>
        <p>{{model.description}}</p> -->
      </div>
    </div>
  </ion-content>
</ion-view>
