<ion-view title="Paints">
  <ion-content class="padding has-header has-tabs">
    <button class="button button-block button-positive" ng-click="paints.openAddPaintModal()">Add Paint</button>
    <div class="list">
      <a class="item item-icon-right" ui-sref="inventory.paints.view({id: paint.$id})" ng-repeat="paint in paints.somePaints">
        {{paint.name}}
        <i class="icon ion-chevron-right"></i>
      </a>
    </div>
    <!-- NO PAINTS IN COLLECTION -->
    <section class="view-basic" ng-if="!paints.somePaints.length">
      <h2 class="view-subheader">No paints added...</h2>
      <p class="view-content">Click on the Add Paint button to add paints to the list.</p>
    </section>
  </ion-content>
</ion-view>
