a {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.button-facebook {
  background-color: $facebook-blue;
  color: white;
  &:hover,
  &:focus {
    background-color: darken($facebook-blue, 2%);
    color: white;
  }
}

.button-email {
  background-color: $app-light-gray;
  color: $app-medium-gray;
}
.link-basic {
  color: white;
  text-decoration: underline;
}
.close-modal-button {
  float: right;
  width: 20%;
}
.button-spaced-vertical {
  margin: 2rem 0;
}
.button-clear-center {
  display: block;
  margin: 0 auto;
}
.button-with-icon {
  .icon-button-icon {
    float: left;
    padding-right: 0.4rem;
    height: 44px;
    svg > g > g {
      fill: #444;
    }
  }
}
.bar .button.back-button-white {
  z-index: 99;
  color: white;
}

.view-switch-button {
  float: right;
  //width: 42px;
  .icon-button-icon {

  }
}

// Change Picture button for Model Detail View

$small-button-font-size: 12px;
$small-button-height: 30px;
.hero-bottom-actions .change-image-button {
  float: right;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: rgba($app-medium-gray, 0.7);
  .icon {
    margin-left: 3px;
  }
}
