.list-in-card {
  .card-list-item {
    margin-bottom: $default-spacing;
  }
  .card-list-label {
    color: rgba($app-medium-gray, 0.7);
    padding-bottom: 3px;
  }
  .card-list-value {
    margin: 0;
    color: $app-medium-gray;
    font-size: $app-base-font-size;
  }
}
.card-status {
  float: left;
  font-size: ($app-base-font-size - 2px);
  color: rgba($app-medium-gray, 0.7);
  font-style: italic;
}
.card-item-count {
  margin-left: 5px;
  font-size: ($app-base-font-size - 2px);
  color: rgba($app-medium-gray, 0.7);
}
a.card-link-item {
  color: $app-medium-gray;
}
.item-icon-right .icon {
  font-size: $app-base-font-size;
}
.card-title-wrapper {
  .card-title a {
    font-size: 24px;
  }
}
.model-card {
  padding-top: 0;
  background-color: #f8f8f8;
  .item {
    background-color: #f8f8f8;
  }
  .item.item-body {
    border: 0;
  }
}
.card-detail-header {
  position: absolute;
  top: $default-spacing;
  left: 0;
  width: 100%;
  z-index: 1;
  .close-icon {
    float: right;
    padding: $app-base-font-size;
    .icon {
      color: white;
      font-size: $app-base-font-size;
    }
  }
}

.card-detail-view {
  position: relative;
  z-index: 1;
}

.card-secondary-nav {
  display: flex;
  justify-content: space-between;
  li {
    width: calc(100% / 3);
    text-align: center;
    padding: 0 $default-spacing;
    opacity: 0.7;
    .card-nav-icon {
      display: block;
      font-size: $app-header-font-size;
    }
    .card-nav-label {
      padding-top: 7px;
      display: block;
      font-size: $app-base-font-size;
    }
    &.is-active {
      opacity: 1;
    }
  }
}
.color-bar-list {
  list-style: none;
  display: flex;
  margin-top: 10px;
  padding-bottom: 1px;
  li {
    //border: 1px solid rgba(0,0,0,.1);
    display: inline-block;
    height: $app-subheader-font-size;
    // &:first-child {
    //   border-top-left-radius: 2px;
    //   border-bottom-left-radius: 2px;
    // }
    // &:last-child {
    //   border-top-right-radius: 2px;
    //   border-bottom-right-radius: 2px;
    // }
  }
}
