.login-logomark {
  margin: 1rem;
  svg {
    width: 100%;
    height: 80px;
  }
}

.login-logotype {
  margin-bottom: 2rem;
  svg {
    width: 140px;
    height: 50px;
    margin: 0 auto;
    display: block;
  }
}

.icon-inline {
  display: inline-block;
  margin-right: 15px;
  svg {
    vertical-align: middle;
  }
}


// USER PROFILE AVATAR
.bar-user-avatar img {
  width: 32px;
  border-radius: 100rem;
}

.profile-avatar-large img {
  width: 180px;
  border-radius: 100rem;
}
.circle-swatch {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  border: 1px solid rgba(black, 0.2);
}
.status-circle {
  float: left;
  width: $app-base-font-size;
  height: $app-base-font-size;
  margin-right: 5px;
  margin-top: 3px;
  background-color: $app-primary;
  -webkit-border-radius: 100rem;
  border-radius: 100rem;
}
