.login-form-wrapper .item-stacked-label {
  background-color: rgba(black, 0.1);
  input {
    background: none;
  }
}
.wizard-form-wrapper {
  margin: 2rem 0;
}
.wizard-form-input {
  .item {
    background-color: rgba(black, 0.2);
    border: 0;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }
  .item-input input {
    text-align: center;
    color: white;
    font-size: $app-header-font-size;
    padding-right: 0;
  }
}
.wizard-form-left-aligned {
  margin-left: -14px;
  margin-right: -14px;
  .item {
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  .input-label {
    color: rgba(white, 0.8);
    font-size: 14px;
  }
  .item-stacked-label input {
    text-align: left;
    background-color: rgba(white, 0);
  }
}
.list-search-box {
  margin-bottom: 1rem;
}

.form-control-separated {
  margin-top: 20px;
}

.form-control-transparent {
  background: none;
  padding-left: 0;
  input {
    padding-left: 0;
    color: white;
    font-size: $app-base-font-size;

    &::-webkit-input-placeholder {
      color: $app-medium-gray;
    }
    &::-moz-placeholder {
      color: $app-medium-gray;
    }
    &:-ms-input-placeholder {
      color: $app-medium-gray;
    }
    &:-moz-placeholder {
      color: $app-medium-gray;
    }
  }
}

.item-select select.select-control-transparent {
  background: none;
  color: white;
}
.item-select:after {
  color: white;
}
.select-control-right {
  @include clearfix;
  position: relative;
  text-align: right;
  padding: 10px 0;
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 40px 0 16px;
    max-width: 65%;
    border: none;
    background: none;
    color: $app-medium-gray;
    text-indent: .01px;
    text-overflow: '';
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer;
    direction: rtl;
  }
  &:after {
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: $app-medium-gray;
    content: "";
    pointer-events: none;
  }
}
