.card .list > .item {
  padding: 14px 0;
  font-size: 14px;
}
.item-input {
  padding: 6px $default-spacing;
}
.item h2 {
  font-size: $app-header-font-size;
}
.swatches-list .item p {
  margin-bottom: 0;
}

.card-actions-right {
  float: right;
  margin-top: -12px;
  @extend %list-inline;
}
