.login-form-wrapper {
  margin-top: 1rem;
  .item {
    background: none;
    border: 0;
    border-bottom: 1px solid rgba(black, 0.1);
  }
  .item.has-top-border {
    border-top: 1px solid rgba(black, 0.1);
  }
  .item-input input {
    color: white;
  }
  .item-floating-label .input-label.has-input {
    color: rgba(white, 0.5);
  }
}
.modal.modal-top-peek {
  margin-top: 2rem;
}
.modal-subtitle {
  color: $app-medium-gray;
  text-align: center;
  padding: 20px 10px;
  p {
    font-size: 14px;
    margin-bottom: 0;
  }
}
.modal.login-modal {
  @extend %teal-daylight-background;
}
.modal.app-modal {
  @extend %teal-daylight-background;
  .bar {
    background: rgba(0,0,0,0.1);
    border: 0;
    .title {
      color: $app-medium-gray;
    }
    .button {
      color: white;
      font-size: 14px;
    }
  }
  .scroll-content {
    background: none;
  }
  .login-form-wrapper {
    margin-top: 0;
  }
}
.modal.backdrop-modal {
  background: rgba(black, 0.9);
  .bar.bar-stable {
    background: none;
    border: 0;
    .title {
      color: white;
    }
  }
  .scroll-content {
    background: none;
  }
}
.backdrop-modal .login-modal-header .button-clear.button-clear {
  color: white;
}
.popup-container .popup {
  width: 320px;
}
.popup-body {
  text-align: center;
}


// NOTIFICATION POPUP
.alert-as-notification {
  .popup-head {
    position: relative;
    padding-top: 40px;
    &:after {
      content: '';
      position: absolute;
      top: 10px;
      left: 44%;
      width: 32px;
      height: 24px;
      display: block;
      background-image: url('../img/PARTY_PARROT.gif');
      background-repeat: no-repeat;
    }
  }
}
