.login-form-wrapper {
  margin-top: 1rem;
  .item {
    background-color: rgba(black, 0.1);
    border: 0;
  }
  .item-input input {
    color: white;
  }
  .item-floating-label .input-label.has-input {
    color: rgba(white, 0.5);
  }
}
.modal.modal-top-peek {
  margin-top: 2rem;
}
.modal.login-modal {
  @extend %teal-daylight-background;
}
.modal.app-modal {
  @extend %teal-daylight-background;
}
.modal.backdrop-modal {
  background: rgba(black, 0.9);
  .bar.bar-stable {
    background: none;
    border: 0;
    .title {
      color: white;
    }
  }
  .scroll-content {
    background: none;
  }
}
