<ion-modal-view class="app-modal">
  <ion-header-bar>
    <button target="_blank" class="button button-clear button-stable" ng-click="model.openPaintCharts('https://www.tamiyausa.com/articles/feature.php?article-id=72#.WFBoEaIrJTY', '_system')">Paint Charts...</button>
    <h1 class="title">Add New Paint</h1>
    <button class="button button-clear button-stable" ng-click="model.closeAddPaintModal()">Cancel</button>
  </ion-header-bar>
  <ion-content class="login-form-wrapper">
    <form name="newPaintForm">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Name</span>
          <input type="text" ng-model="model.paint.title">
        </label>
        <label class="item item-input item-select">
          <span class="input-label">Manufacturer</span>
          <select class="select-control-transparent" ng-model="model.paint.manufacturer">
            <option value="">Choose one...</option>
            <option ng-repeat="item in model.paintManufacturers">
              {{item.name}}
            </option>
          </select>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Type</span>
          <input type="text" ng-model="model.paint.type">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Product Key</span>
          <input type="text" ng-model="model.paint.hexKey">
        </label>

        <div class="item item-input-inset form-control-separated">
          <label class="item-input-wrapper form-control-transparent">
            <input type="text" ng-model="model.paint.swatch" placeholder="Swatch Color (#hex)">
          </label>
          <button class="button button-clear button-small button-white" color-picker color-mode="hsv" ng-model="model.paint.swatch" modal-title="Choose a color" modal-class="backdrop-modal">Or, choose color</button>
        </div>
        <div class="item item-input item-select">
          <span class="input-label">Color Priority</span>
          <select class="select-control-transparent" ng-model="model.paint.priority">
            <option value="">Choose one...</option>
            <option ng-repeat="priority in model.paintPriorities">
              {{priority}}
            </option>
          </select>
        </div>
        <div class="item item-toggle">
          In Stock?
          <label class="toggle toggle-dark">
            <input type="checkbox" ng-model="model.paint.inStock">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div>

      </div>
      <div class="padding">
        <button class="button button-block button-stable" ng-click="model.addPaint(model.paint)">Add Paint</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
