<div class="modal login-modal">
  <header class="login-modal-header">
    <div class="login-modal-subtitle">
      <p class="subtitle">Take a picture of your model or upload one from your Photos.</p>
    </div>
    <div class="close-modal-button button button-clear" ng-click="model.closeUploadModal()"><span class="icon ion-close"></span></div>
  </header>
  <section>
    <button class="button button-block button-light" ng-click="model.accessCamera()">Take Picture</button>
    <button class="button button-block button-light" ng-click="model.accessPhotos">Upload From Photos</button>
  </content>
</div>
