.login-header {
  margin-top: 4rem;
  margin-bottom: 2rem;
  .login-subheading {
    width: 50%;
    margin: 0 auto;
    color: white;
    font-size: $app-base-font-size;
    text-align: center;
  }
}
.login-modal-header {
  padding: $default-spacing;
  margin-top: 2rem;
  @include clearfix;
  .subtitle {
    font-size: $app-base-font-size;
  }
  .button-clear.button-clear {
    float: right;
    color: white;
    margin-top: -10px;
  }
}
.bar {
  background-image: none !important;
}
.login-modal-subtitle {
  float: left;
  width: 75%;
  color: $app-medium-gray;
}
.bar-transparent {
  background-color: rgba(white, 0);
  border: 0;
  color: white;
}
.hero-image {
  position: relative;
}
