.scroll-content {
  background-color: $app-background-color;
}
.view-login {
  padding: $default-spacing;
}
.has-gradient-background {
  @extend %app-gradient-background;
}
.welcome-background-one {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @extend %app-gradient-background-welcome;
}
.welcome-background-two {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @extend %app-gradient-background;
}
