<div class="list card model-card" ng-repeat="(modelID, model) in models.allModels">
  <div class="card-image-full">
    <img ng-src="data:image/jpeg;base64,{{model.modelImage}}" alt="Model Image" width="100%">
  </div>
  <div class="item">
    <div class="card-title-wrapper">
      <h2 class="card-title"><a href="" ui-sref="model({id: modelID})">{{model.title}}</a></h2>
      <p>{{model.builder}} - {{model.dateStarted | date}}</p>
    </div>
  </div>
  <div class="item item-body">
    <ul class="list-in-card">
      <li class="card-list-item">
        <small class="card-list-label">Scale</small>
        <p class="card-list-value">{{model.scale}}</p>
      </li>
      <li class="card-list-item">
        <small class="card-list-label">Manufacturer</small>
        <p class="card-list-value">{{model.manufacturer}}</p>
      </li>
      <li class="card-list-item">
        <small class="card-list-label">Vehicle Type</small>
        <p class="card-list-value">{{model.classType}}</p>
      </li>
      <li class="card-list-item" ng-if="model.description">
        <small class="card-list-label">Description</small>
        <p class="card-list-value">{{model.description}}</p>
      </li>
    </ul>
  </div>
  <div class="item item-body item-no-padding-bottom">
    Paints <span class="card-item-count" ng-if="!model.Paints">0</span>
    <span class="card-item-count" ng-if="model.Paints">{{models.getModelPaintsCount(model.Paints)}}</span>
    <color-swatch-bar paints="model.Paints"></color-swatch-bar>
  </div>
  <div class="item item-body">
    Supplies
    <span class="card-item-count" ng-if="!model.Supplies">0</span>
    <span class="card-item-count" ng-if="model.Supplies">{{models.getModelSuppliesCount(model.Supplies)}}</span>
  </div>
  <div class="item item-text-wrap">
    <span class="card-status">
      <span class="status-circle" ng-class="{
        'status-awaiting-build': model.status === 'Awaiting Build',
        'status-in-progress': model.status === 'In Progress',
        'status-completed': model.status === 'Completed'}">
      </span>{{model.status}}
    </span>
    <ul class="card-actions-right">
      <li>
        <button class="button button-clear button-dark">
          <i class="icon ion-forward"></i>
        </button>
      </li>
      <li>
        <button class="button button-clear button-dark">
          <i class="icon ion-chatbox"></i>
        </button>
      </li>
    </ul>
  </div>
</div>
