<div class="list">
  <a href="" class="item item-thumbnail-left" ui-sref="model({id: modelID})" ng-repeat="(modelID, model) in models.allModels">
    <img ng-src="data:image/jpeg;base64,{{model.modelImage}}" alt="Model Image">
    <h2>{{model.title}}</h2>
    <p>{{model.builder}} - {{model.dateStarted | date}}</p>
    <span class="card-status">
      <span class="status-circle" ng-class="{
        'status-awaiting-build': model.status === 'Awaiting Build',
        'status-in-progress': model.status === 'In Progress',
        'status-completed': model.status === 'Completed'}">
      </span>{{model.status}}
    </span>
  </a>
</div>
