<div class="item" ng-if="!model.supplies">
  <p>No Supplies Added</p>
</div>
<div class="item item-icon-right" ng-repeat="item in model.supplies">
  {{item.name}}
  <button class="button icon button-icon ion-close-round" ng-click="model.removeSupplyItem(item)"></button>
</div>
<div class="item item-input-inset" ng-if="model.showSupplyItemForm">
  <label class="item-input-wrapper">
    <input type="text" placeholder="Item Name" ng-model="model.supplyItem.name">
  </label>
  <button class="button button-small button-positive" ng-click="model.addSupplyItem(model.supplyItem)">Add</button>
</div>
<button class="button button-block button-clear button-positive" ng-click="model.showSupplyItemForm = !model.showSupplyItemForm" ng-if="!model.showSupplyItemForm">Add Item</button>
<button class="button button-block button-clear button-positive" ng-click="model.showSupplyItemForm = !model.showSupplyItemForm" ng-if="model.showSupplyItemForm">Cancel Adding</button>
