<div class="item" ng-if="!model.paints.length">
  <p>No Paints Added</p>
</div>
<ul class="list" ng-if="model.paints.length">
  <li class="item item-avatar item-toggle" ng-repeat="paint in model.paints">
    <span class="circle-swatch" style="background-color: {{paint.swatch}}"></span>
    <p><b>{{paint.title}}</b></p>
    <small>{{paint.type}} - {{paint.manufacturer}}</small>
    <label class="toggle toggle-dark">
       <input type="checkbox" ng-model="paint.inStock">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
</ul>
<button class="button button-block button-clear button-positive" ng-click="model.openAddPaintModal()">Add Paint</button>
