<ion-nav-view animation="slide-left-right">
  <ion-view>
    <ion-content class="layout-detail">
      <div class="card-detail-header">
        <a href="" ui-sref="models" class="close-icon"><i class="icon ion-close"></i></a>
      </div>
      <!-- HAS MODEL IMAGE  -->
      <header class="hero-image has-scrim" ng-if="model.modelImage">
        <img ng-src="data:image/jpeg;base64,{{model.modelImage}}" alt="Model Image" width="100%">
        <div class="hero-bottom-actions">
          <button class="button button-small button-dark icon-right change-image-button" ng-click="model.openCameraActionSheet()">Change Picture <i class="icon ion-camera"></i></button>
        </div>
      </header>
      <!-- NO MODEL IMAGE -->
      <header class="hero-image has-gradient" ng-if="!model.modelImage">
        <div class="icon-nav-bar">
          <button class="button button-clear-center button-with-icon" ng-click="model.upload()">
            <div class="icon-button-icon" ng-include="'img/camera-button-icon.svg'"></div>
            <span class="icon-button-label">Add Picture</span>
          </button>
        </div>
      </header>
      <section class="card-detail-view">
        <div class="list-header-bar">
          <h1 class="list-header-title">{{model.data.title}}</h1>
          <p class="list-header-subtitle">{{model.data.scale}}</p>
          <p class="list-header-subtitle">{{model.data.status}}</p>
        </div>
        <div class="list model-detail-list">
          <div class="item">
            <ul class="card-secondary-nav">
              <li>
                <a href="">
                  <i class="icon ion-paintbucket card-nav-icon"></i>
                  <span class="card-nav-label">Paints</span>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="icon ion-wrench card-nav-icon"></i>
                  <span class="card-nav-label">Supplies</span>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="icon ion-images card-nav-icon"></i>
                  <span class="card-nav-label">Gallery</span>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="icon ion-forward card-nav-icon"></i>
                  <span class="card-nav-label">Share</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="item item-icon-left">
            <i class="icon ion-clock"></i>
            <small>Date Started</small>
            <p>{{model.data.dateStarted | date}}</p>
          </div>
          <div class="item item-icon-left item-button-right" ng-if="!model.isEditModeStatus">
            <span class="status-circle as-list-item" ng-class="{
              'status-awaiting-build': model.data.status === 'Awaiting Build',
              'status-in-progress': model.data.status === 'In Progress',
              'status-completed': model.data.status === 'Completed'}">
            </span>
            <small>Project Status</small>
            <p>{{model.data.status}}</p>
            <button class="button button-clear button-energized" ng-click="model.toggleEditModeStatus()">Edit</button>
          </div>
          <!-- STATUS EDIT MODE -->
          <div ng-include="'js/modules/model-detail/templates/edit-model-status.html'"></div>
          <div class="item item-icon-left item-button-right" ng-if="!model.isEditModeClass">
            <i class="icon ion-ribbon-b"></i>
            <small>Class</small>
            <p>{{model.data.classType}}</p>
            <button class="button button-clear button-energized" ng-click="model.toggleEditModeClass()">Edit</button>
          </div>
          <!-- CLASS EDIT MODE -->
          <div ng-include="'/js/modules/model-detail/templates/edit-model-class.html'"></div>
          <div class="item item-icon-left item-button-right" ng-if="!model.isEditModeManufacturer">
            <i class="icon ion-pricetag"></i>
            <small>Manufacturer</small>
            <p>{{model.data.manufacturer}}</p>
            <button class="button button-clear button-energized" ng-click="model.toggleEditModeManufacturer()">Edit</button>
          </div>
          <!-- MANUFACTURER EDIT MODE -->
          <div ng-include="'/js/modules/model-detail/templates/edit-model-manufacturer.html'"></div>
          <div class="item item-icon-left" ng-if="model.data.description">
            <i class="icon ion-android-list"></i>
            <small>Description</small>
            <p>{{model.data.description}}</p>
          </div>
        </div>
      </section>
    </ion-content>
  </ion-view>
</ion-nav-view>
