.modal.login-modal, .has-gradient-background {
  background: #185a9d;
  background: -moz-linear-gradient(45deg, #185a9d 0%, #1e8ba4 19%, #22a9a9 33%, #23b4aa 40%, #2bf3b4 92%);
  background: -webkit-linear-gradient(45deg, #185a9d 0%, #1e8ba4 19%, #22a9a9 33%, #23b4aa 40%, #2bf3b4 92%);
  background: linear-gradient(45deg, #185a9d 0%, #1e8ba4 19%, #22a9a9 33%, #23b4aa 40%, #2bf3b4 92%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#185a9d', endColorstr='#2bf3b4',GradientType=1 ); }

body, h1, h2, h3, h4, h5, h6, button {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif; }

a {
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: none; }

.bar .button.button-clear, .bar button.button-clear {
  font-weight: bold; }

.button-facebook {
  background-color: #3A589B;
  color: white; }
  .button-facebook:hover, .button-facebook:focus {
    background-color: #375494;
    color: white; }

.button-email {
  background-color: #eee;
  color: #666; }

.link-basic {
  color: white;
  text-decoration: underline; }

.card .list > .item {
  padding: 14px 0;
  font-size: 14px; }

.login-logomark {
  margin: 1rem; }
  .login-logomark svg {
    width: 100%;
    height: 80px; }

.login-logotype {
  margin-bottom: 2rem; }
  .login-logotype svg {
    width: 140px;
    height: 50px;
    margin: 0 auto;
    display: block; }

.icon-inline {
  display: inline-block;
  margin-right: 15px; }
  .icon-inline svg {
    vertical-align: middle; }

.login-form-wrapper {
  margin-top: 1rem; }
  .login-form-wrapper .item-floating-label {
    background-color: rgba(0, 0, 0, 0.1); }
  .login-form-wrapper .item {
    border: 0; }
  .login-form-wrapper .item-input input {
    color: white; }
  .login-form-wrapper .item-floating-label .input-label.has-input {
    color: rgba(255, 255, 255, 0.5); }

.modal.modal-top-peek {
  margin-top: 2rem; }

.login-header {
  margin-top: 5rem;
  margin-bottom: 3rem; }
  .login-header .login-subheading {
    width: 50%;
    margin: 0 auto;
    color: white;
    font-size: 16px;
    text-align: center; }

.login-modal-header {
  padding: 10px;
  margin-top: 3rem; }
  .login-modal-header .subtitle {
    display: inline-block;
    color: white;
    font-size: 16px; }
  .login-modal-header .button-clear.button-clear {
    float: right;
    color: white;
    margin-top: -10px; }

.scroll-content {
  background-color: #e8e8e8; }

.view-login {
  padding: 10px; }

.login-footer {
  color: white;
  text-align: center; }
  .login-footer .button.button-light.button-clear {
    margin-bottom: 1rem;
    color: white; }

.login-footer-divider {
  display: block;
  width: 5rem;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 10px auto; }
