.modal.login-modal, .modal.app-modal, .has-gradient-background, .welcome-background-two, .card-image-full.has-default-background-cover {
  background: #185a9d;
  background: -moz-linear-gradient(45deg, #185a9d 0%, #1e8ba4 19%, #22a9a9 33%, #23b4aa 40%, #2bf3b4 92%);
  background: -webkit-linear-gradient(45deg, #185a9d 0%, #1e8ba4 19%, #22a9a9 33%, #23b4aa 40%, #2bf3b4 92%);
  background: linear-gradient(45deg, #185a9d 0%, #1e8ba4 19%, #22a9a9 33%, #23b4aa 40%, #2bf3b4 92%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#185a9d', endColorstr='#2bf3b4',GradientType=1 ); }

.welcome-background-one {
  background: #480048;
  background: -moz-linear-gradient(45deg, #480048 0%, #c04848 100%);
  background: -webkit-linear-gradient(45deg, #480048 0%, #c04848 100%);
  background: linear-gradient(45deg, #480048 0%, #c04848 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#480048', endColorstr='#c04848',GradientType=1 ); }

.wizard-first {
  background: #516395;
  background: -moz-linear-gradient(top, #516395 0%, #614385 100%);
  background: -webkit-linear-gradient(top, #516395 0%, #614385 100%);
  background: linear-gradient(to bottom, #516395 0%, #614385 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#516395', endColorstr='#614385',GradientType=0 ); }

.layout-detail .hero-image.has-gradient, .wizard-second {
  background: #f45c43;
  background: -moz-linear-gradient(top, #f45c43 0%, #eb3349 100%);
  background: -webkit-linear-gradient(top, #f45c43 0%, #eb3349 100%);
  background: linear-gradient(to bottom, #f45c43 0%, #eb3349 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f45c43', endColorstr='#eb3349',GradientType=0 ); }

.wizard-third {
  background: #4ca1af;
  background: -moz-linear-gradient(top, #4ca1af 0%, #2c3e50 100%);
  background: -webkit-linear-gradient(top, #4ca1af 0%, #2c3e50 100%);
  background: linear-gradient(to bottom, #4ca1af 0%, #2c3e50 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ca1af', endColorstr='#2c3e50',GradientType=0 ); }

.layout-detail .hero-image.has-scrim:after {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 30%, transparent 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 30%, transparent 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 30%, transparent 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#03000000',GradientType=0 ); }

.card-actions-right {
  list-style: none; }
  .card-actions-right li {
    display: inline-block; }

.welcome-title {
  font-size: 32px;
  color: white;
  text-align: center; }

body, h1, h2, h3, h4, h5, h6, button {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif; }

.styled-text {
  font-family: 'Sanchez', serif; }

p, li, a {
  font-size: 16px; }

.small-date {
  color: #989898;
  padding-left: 5px; }

.badge.badge-white {
  background: white;
  color: #28c795;
  font-weight: normal;
  font-size: 12px;
  padding: 1px 5px; }

a {
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: none; }

.button-facebook {
  background-color: #3A589B;
  color: white; }
  .button-facebook:hover, .button-facebook:focus {
    background-color: #375494;
    color: white; }

.button-email {
  background-color: #eee;
  color: #444; }

.link-basic {
  color: white;
  text-decoration: underline; }

.close-modal-button {
  float: right;
  width: 20%; }

.button-spaced-vertical {
  margin: 2rem 0; }

.button-clear-center {
  display: block;
  margin: 0 auto; }

.button-with-icon .icon-button-icon {
  float: left;
  padding-right: 0.4rem;
  height: 44px; }
  .button-with-icon .icon-button-icon svg > g > g {
    fill: #444; }

.bar .button.back-button-white {
  z-index: 99;
  color: white; }

.view-switch-button {
  float: right; }

.hero-bottom-actions .change-image-button {
  float: right;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: rgba(68, 68, 68, 0.7); }
  .hero-bottom-actions .change-image-button .icon {
    margin-left: 3px; }

.list-button-right-small .button {
  font-size: 14px; }

.button.button-white {
  color: white; }

.card .list > .item {
  padding: 14px 0;
  font-size: 14px; }

.item-input {
  padding: 6px 10px; }

.item h2 {
  font-size: 22px; }

.swatches-list .item p {
  margin-bottom: 0; }

.card-actions-right {
  float: right;
  margin-top: -12px; }

.list-header-bar {
  display: block;
  background-color: #28c795;
  padding: 15px; }
  .list-header-bar .list-header-title {
    font-size: 18px;
    color: white;
    margin: 0; }
  .list-header-bar .list-header-subtitle {
    font-size: 12px;
    color: white;
    margin: 0; }

.model-detail-list > .item.item-button-right > .button.button-clear {
  font-size: 14px; }

.home-models-view {
  padding: 20px 0; }
  .home-models-view .card {
    margin-top: 0;
    margin-bottom: 20px; }

.item-no-padding-bottom {
  padding-bottom: 0; }

.item-has-full-text p {
  overflow: auto;
  text-overflow: initial;
  white-space: initial; }

.item-has-full-text .icon {
  top: 18px;
  height: 32px; }

.divider-separated-list .item.item-divider {
  color: #444;
  margin-top: 10px; }

.divider-separated-list .item {
  color: #387ef5; }

.login-logomark {
  margin: 1rem; }
  .login-logomark svg {
    width: 100%;
    height: 80px; }

.login-logotype {
  margin-bottom: 2rem; }
  .login-logotype svg {
    width: 140px;
    height: 50px;
    margin: 0 auto;
    display: block; }

.icon-inline {
  display: inline-block;
  margin-right: 15px; }
  .icon-inline svg {
    vertical-align: middle; }

.bar-user-avatar img {
  width: 32px;
  border-radius: 100rem; }

.profile-avatar-large img {
  width: 180px;
  border-radius: 100rem; }

.circle-swatch {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  border: 1px solid rgba(0, 0, 0, 0.1); }

.status-circle {
  float: left;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  margin-top: 3px;
  background-color: #2BF3B4;
  -webkit-border-radius: 100rem;
  border-radius: 100rem; }
  .status-circle.as-list-item {
    position: absolute;
    top: 28px;
    left: 14px;
    width: 24px;
    height: 24px;
    margin: 0; }
  .status-circle.status-awaiting-build {
    background-color: #eee; }
  .status-circle.status-in-progress {
    background-color: #195490; }
  .status-circle.status-completed {
    background-color: #2BF3B4; }

.login-form-wrapper {
  margin-top: 1rem; }
  .login-form-wrapper .item {
    background: none;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .login-form-wrapper .item.has-top-border {
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .login-form-wrapper .item-input input {
    color: white; }
  .login-form-wrapper .item-floating-label .input-label.has-input {
    color: rgba(255, 255, 255, 0.5); }

.modal.modal-top-peek {
  margin-top: 2rem; }

.modal-subtitle {
  color: #444;
  text-align: center;
  padding: 20px 10px; }
  .modal-subtitle p {
    font-size: 14px;
    margin-bottom: 0; }

.modal.app-modal .bar {
  background: rgba(0, 0, 0, 0.1);
  border: 0; }
  .modal.app-modal .bar .title {
    color: #444; }
  .modal.app-modal .bar .button {
    color: white;
    font-size: 14px; }

.modal.app-modal .scroll-content {
  background: none; }

.modal.app-modal .login-form-wrapper {
  margin-top: 0; }

.modal.backdrop-modal {
  background: rgba(0, 0, 0, 0.9); }
  .modal.backdrop-modal .bar.bar-stable {
    background: none;
    border: 0; }
    .modal.backdrop-modal .bar.bar-stable .title {
      color: white; }
  .modal.backdrop-modal .scroll-content {
    background: none; }

.backdrop-modal .login-modal-header .button-clear.button-clear {
  color: white; }

.popup-container .popup {
  width: 320px; }

.popup-body {
  text-align: center; }

.alert-as-notification .popup-head {
  position: relative;
  padding-top: 40px; }
  .alert-as-notification .popup-head:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 44%;
    width: 32px;
    height: 24px;
    display: block;
    background-image: url("../img/PARTY_PARROT.gif");
    background-repeat: no-repeat; }

.login-form-wrapper .item-stacked-label {
  background: none; }
  .login-form-wrapper .item-stacked-label input {
    background: none; }

.wizard-form-wrapper {
  margin: 2rem 0; }

.wizard-form-input .item {
  background-color: rgba(0, 0, 0, 0.1);
  border: 0;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.wizard-form-input .item-input input {
  text-align: center;
  color: white;
  font-size: 22px;
  padding-right: 0; }

.wizard-form-left-aligned {
  margin-left: -14px;
  margin-right: -14px; }
  .wizard-form-left-aligned .item {
    -webkit-border-radius: 0;
    border-radius: 0; }
  .wizard-form-left-aligned .input-label {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px; }
  .wizard-form-left-aligned .item-stacked-label input {
    text-align: left;
    background-color: rgba(255, 255, 255, 0); }

.list-search-box {
  margin-bottom: 1rem; }

.form-control-separated {
  margin-top: 20px; }

.form-control-transparent {
  background: none;
  padding-left: 0; }
  .form-control-transparent input {
    padding-left: 0;
    color: white;
    font-size: 16px; }
    .form-control-transparent input::-webkit-input-placeholder {
      color: #444; }
    .form-control-transparent input::-moz-placeholder {
      color: #444; }
    .form-control-transparent input:-ms-input-placeholder {
      color: #444; }
    .form-control-transparent input:-moz-placeholder {
      color: #444; }

.item-select select.select-control-transparent {
  background: none;
  color: white; }

.item-select:after {
  color: white; }

.select-control-right {
  *zoom: 1;
  position: relative;
  text-align: right;
  padding: 10px 0; }
  .select-control-right:before, .select-control-right:after {
    display: table;
    content: "";
    line-height: 0; }
  .select-control-right:after {
    clear: both; }
  .select-control-right select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 40px 0 16px;
    max-width: 65%;
    border: none;
    background: none;
    color: #444;
    text-indent: .01px;
    text-overflow: '';
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer;
    direction: rtl; }
  .select-control-right:after {
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: #444;
    content: "";
    pointer-events: none; }

.list-in-card .card-list-item {
  margin-bottom: 10px; }

.list-in-card .card-list-label {
  color: rgba(68, 68, 68, 0.7);
  padding-bottom: 3px; }

.list-in-card .card-list-value {
  margin: 0;
  color: #444;
  font-size: 16px; }

.card-status {
  float: left;
  font-size: 14px;
  color: rgba(68, 68, 68, 0.7);
  font-style: italic; }

.card-item-count {
  margin-left: 5px;
  font-size: 14px;
  color: rgba(68, 68, 68, 0.7); }

a.card-link-item {
  color: #444; }

.item-icon-right .icon {
  font-size: 16px; }

.card-title-wrapper .card-title a {
  font-size: 24px; }

.model-card {
  padding-top: 0;
  background-color: #f8f8f8; }
  .model-card .item {
    background-color: #f8f8f8; }
  .model-card .item.item-body {
    border: 0; }

.card-detail-header {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  z-index: 1; }
  .card-detail-header .close-icon {
    float: right;
    padding: 16px; }
    .card-detail-header .close-icon .icon {
      color: white;
      font-size: 20px; }

.card-detail-view {
  position: relative;
  z-index: 1; }

.card-secondary-nav {
  display: flex;
  justify-content: space-between; }
  .card-secondary-nav li {
    width: calc(100% / 3);
    text-align: center;
    padding: 0 10px;
    opacity: 0.7; }
    .card-secondary-nav li .card-nav-icon {
      display: block;
      font-size: 22px; }
    .card-secondary-nav li .card-nav-label {
      padding-top: 7px;
      display: block;
      font-size: 16px; }
    .card-secondary-nav li.is-active {
      opacity: 1; }

.color-bar-list {
  list-style: none;
  display: flex;
  margin-top: 10px;
  padding-bottom: 1px; }
  .color-bar-list li {
    display: inline-block;
    height: 18px; }

.login-header {
  margin-top: 4rem;
  margin-bottom: 2rem; }
  .login-header .login-subheading {
    width: 50%;
    margin: 0 auto;
    color: white;
    font-size: 16px;
    text-align: center; }

.login-modal-header {
  padding: 10px;
  margin-top: 2rem;
  *zoom: 1; }
  .login-modal-header:before, .login-modal-header:after {
    display: table;
    content: "";
    line-height: 0; }
  .login-modal-header:after {
    clear: both; }
  .login-modal-header .subtitle {
    font-size: 16px; }
  .login-modal-header .button-clear.button-clear {
    float: right;
    color: black;
    margin-top: -10px; }

.bar {
  background-image: none !important; }

.bar-transparent {
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  color: white; }

.hero-image {
  position: relative; }

.icon-nav-bar {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  padding: 0 40px; }

.bar .title {
  font-size: 20px; }

.icon-nav {
  display: flex;
  justify-content: space-between; }
  .icon-nav .icon-nav-col {
    width: calc(100% / $icon-button-size); }
    .icon-nav .icon-nav-col .button {
      border-radius: 100rem;
      min-width: 52px;
      min-height: 52px; }

.scroll-content {
  background-color: #e8e8e8; }

.view-login {
  padding: 10px; }

.welcome-background-one {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.welcome-background-two {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.slider-page {
  padding: 10px; }
  .slider-page .content {
    color: white;
    text-align: center;
    padding: 0 20px; }

.layout-detail .hero-image {
  width: 100%;
  height: 250px;
  overflow-y: hidden;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .layout-detail .hero-image.has-scrim:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%; }

.card-image-full {
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.view-basic {
  margin-top: 2rem;
  text-align: center; }
  .view-basic .view-subheader {
    font-size: 18px; }
  .view-basic .view-content {
    font-size: 14px; }

.hero-bottom-actions {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2; }

.col-list-3 {
  list-style: none;
  padding: 20px;
  *zoom: 1; }
  .col-list-3:before, .col-list-3:after {
    display: table;
    content: "";
    line-height: 0; }
  .col-list-3:after {
    clear: both; }
  .col-list-3 li {
    float: left;
    width: calc(100% / 3);
    list-style-type: none;
    padding: 0; }
    .col-list-3 li .button {
      max-width: 100%;
      max-height: 100%;
      padding: 0; }
  .col-list-3 li:nth-child(3n + 1) {
    clear: left;
    padding-left: 0; }

.photo-gallery-section {
  margin-top: 15%; }

.zoomable-canvas {
  width: 100%;
  height: 100%; }

.loading-container .loading {
  width: 100%;
  padding: 15px;
  border-radius: 0; }

.spinner svg {
  width: 22px;
  height: 22px;
  vertical-align: middle; }

.no-margin-bottom {
  margin-bottom: 0; }

.wizard-first .scroll-content {
  background: none; }

.wizard-second .scroll-content {
  background: none; }

.wizard-third .scroll-content {
  background: none; }

.wizard-page {
  position: absolute;
  top: 44px;
  left: 2.5%;
  width: 95%;
  margin-top: 2rem;
  padding: 20px 15px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.3); }

.wizard-step-title {
  font-size: 18px;
  color: white;
  text-align: center; }

.wizard-content {
  color: white;
  text-align: center; }

.login-footer {
  color: white;
  text-align: center; }
  .login-footer .button.button-light.button-clear {
    margin-bottom: 1rem;
    color: white; }

.login-footer-divider {
  display: block;
  width: 5rem;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 10px auto; }

.slider-page-footer {
  margin-top: 2rem; }
